{% extends "layout.njk"%}

{% block head%}
    <title>Desafio 03-1 | About</title>
{% endblock%}

{% block content %}

    <div class="contaneir">
        <div class="img-content">
            <img src="assets/logo_med_rocketseat.jpg" alt="">
        </div>
        <h1>Rocketseat</h1>
        <p>Uma breve descrição da empresa, ma breve descrição da empresa ma breve descrição da empresa.
        </p>
        <ul>
            <li>Starter</li>
            <li>Launchbase</li>
            <li>GoStack</li>
        </ul>
    </div>

{% endblock %}