{% extends "layout.njk"%}

{% block head%}
    <title>Desafio 03-1 | About</title>
{% endblock%}

{% block content %}

    <div class="contaneir">
        <div class="img-content">
            <img src="assets/{{about.avatar_url}}" alt="Cursos da {{about.name}}">
        </div>
        <h1>{{about.name}}</h1>
        <p>{{about.description}}</p>
        <ul>
            <li>{{about.courses.starter}}</li>
            <li>{{about.courses.launchbase}}</li>
            <li>{{about.courses.gostack}}</li>
        </ul>
    </div>

{% endblock %}