{% extends "layout.njk"%}

{% block head%}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Desafio 03-1 | Courses</title>
{% endblock %}

{% block content%}

    <div class="wrapper">
        <h1>Cursos Rocketseat</h1>
    </div>

    <section class="cards">
        {% for item in items %}

            <div class="card-content" id="{{item.id}}">
                <div class="img-curse">
                    <img src="assets/{{item.id}}.svg" alt="Curso {{item.name}}">
                </div>
                <h2>{{item.name}}</h2>
                <div class="descritpion">
                    <p>{{item.description}}</p>
                    <p class="price">{{item.price}}</p>
                </div>
            </div>

        {% endfor %}

    </section>

    <div class="modal-overlay">
        <div class="modal-content">
            <div class="close-modal">
                <i class="material-icons">
                    cancel
                </i>
            </div>
            <iframe src="" frameborder="0"></iframe>
        </div>
    </div>

    <script src="script.js"></script>

{% endblock %}