{% extends "layout.njk"%}

{% block head%}
    <title>Desafio 03-1 | Page Not-Found</title>
{% endblock %}

{% block content%}
<div class="contaneir">
        <div class="img-content">
            <img src="{{dataFound.avatarUrlError}}" alt="Error">
        </div>
        <h1>{{dataFound.codError}}</h1>
        <p>{{dataFound.errorDescription}}</p>
    </div>
{% endblock %}