{% extends "layout.njk"%}

{% block head%}
    <title>Desafio 03-1 | Page Not-Found</title>
{% endblock %}

{% block content%}
<div class="contaneir">
        <div class="img-content">
            <img src="https://miro.medium.com/max/1170/1*BWXSCXSkkY9juccNWbAfxg.png" alt="">
        </div>
        <h1>Erro 404</h1>
        <ol>
            <li>“Desligue seu computador.."</li>
            <li>"Abra a porta e vá lá fora.."</li>
            <li>"Mova suas pernas em qualquer direção."</li>
        </ol>
    </div>
{% endblock %}